{% extends "framework.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block nav %}
<form class="pure-form pure-form-stacked">
    <fieldset>
        <input class="pure-input-1 pure-input-rounded" id="email" type="email" placeholder="Email">
        <span class="pure-form-message">This is a required field.</span>

        <select id="state">
            <option>AL</option>
            <option>CA</option>
            <option>IL</option>
        </select>

        <label for="remember" class="pure-checkbox">
            <input id="remember" type="checkbox"> Remember me
        </label>

        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
    </fieldset>
</form>
{% endblock %}

{% block content_header %}
<div class="pure-u-1-2">
    <h1 class="main-content-title">CMS</h1>
    <p class="main-content-subtitle">Product Management</p>
</div>
<div class="main-content-controls pure-u-1-2">
    <a class="secondary-button pure-button" href="{{logout}}">Logout</a>
</div>
{% endblock %}

{% block content_body %}
<table class="pure-table pure-table-horizontal pure-table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Product Name</th>
        <th>Create By</th>
        <th>Create Date</th>
    </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.id }}</td>
                <td>{{ product.id }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}