{% extends "framework.html" %}

{% block title %}Dashboard{% endblock %}

{% block head %}
{{ super() }}
<style>
    #search-form label {
        color: #FFFFFF;
    }
</style>
{% endblock %}

{% block nav %}
<form class="pure-form pure-form-stacked" id="search-form">
    <fieldset>
        <input class="pure-input-1 pure-input-rounded" id="search" type="text" placeholder="Search">
<!--
        <label for="category">Category</label>
        <select id="category" name="category" class="pure-input-1">
            {% for category in categories %}
            <option value="{{ category.key.id() }}">{{ category.name }}</option>
            {% endfor %}
        </select>

        <label for="brand">Brand</label>
        <select id="brand" name="brand" class="pure-input-1">
            {% for brand in brands %}
            <option value="{{ brand.key.id() }}">{{ brand.name }}</option>
            {% endfor %}
        </select>
-->
        <button type="submit" class="pure-button pure-button-primary pure-input-1">Search</button>
    </fieldset>
</form>
{% endblock %}

{% block content_header %}
<div class="pure-u-1-2">
    <h1 class="main-content-title">CMS</h1>
    <p class="main-content-subtitle">Order Management</p>
</div>
<div class="main-content-controls pure-u-1-2">
    <a class="secondary-button pure-button" href="/">Home</a>
    <a class="secondary-button pure-button" href="{{logout}}">Logout</a>
</div>
{% endblock %}

{% block content_body %}
<table class="pure-table pure-table-horizontal pure-table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Order Name</th>
            <th>Create By</th>
            <th>Update Date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.key.id() }}</td>
            <td>{{ order.name }}</td>
            <td>{{ order.user.name }}</td>
            <td>{{ order.update_at.strftime('%Y-%m-%d %H:%m') }}</td>
            <td>{{ status[order.status] }}</td>
            <td><a href="/order/{{ order.key.id() }}">Edit</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}