{% extends "framework.html" %}

{% block title %}Add Order{% endblock %}

{% block head %}
{{ super() }}
<style>
    .order-cell {
        margin: 5px;
        border: 1px solid black;
        border-radius: 5px;
    }

    .order-cell img {
        border-radius: inherit;
    }

    .order-cell-desc {
        padding: 5px;
    }

    .offer-cell {
        margin: 5px;
        border: 1px solid black;
        border-radius: 5px;
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #dddddd;
        margin: 1em 0;
        padding: 0;
    }
</style>
{% endblock %}

{% block content_header %}
<div class="pure-u-1-3">
    <h1 class="main-content-title">Offer Details</h1>
    <p class="main-content-subtitle"></p>
</div>
<div class="main-content-controls pure-u-2-3">
    {% if users.get_current_user() %}
    {% if users.is_current_user_admin() %}
    <a class="secondary-button pure-button" href="/admin">Dashboard</a>
    {% endif %}
    <a class="secondary-button pure-button" href="/{{ users.get_current_user().user_id() }}/orders">My Trading</a>
    <a class="secondary-button pure-button" href="/order/add">Add My Products</a>
    <a class="secondary-button pure-button" href="{{ auth_link }}">Logout</a>
    {% else %}
    <a class="secondary-button pure-button" href="{{ auth_link }}">Login</a>
    {% endif %}
    <p class="show-current-user">{{users.get_current_user()}}</p>
</div>
{% endblock %}

{% block content_body %}
<form class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label for="name">Offer Name</label>
            {{ offer.name }}
        </div>

        <div class="pure-control-group">
            <label for="description">Description</label>
            {{ offer.description }}
        </div>

        {% if products|length > 0 %}
        <div class="pure-controls pure-g">
            {% for i in range(products|length) %}
            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                <div class="order-cell">
                    <img class="pure-img"
                         src="/order/{{ order.key.id() }}/offer/{{ offer.key.id() }}/product/{{i}}/img">
                    <div class="order-cell-desc">
                        <p>Name: {{ products[i].name }}<br>
                            Description: {{ products[i].description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </fieldset>
</form>

{% if users.get_current_user() %}
{% if users.get_current_user().user_id() == order.user.id %}
<div class="pure-g">
    <form class="pure-u-1-2" style="text-align: right" method="post" action="/order/{{ order.key.id() }}/offer/{{offer.key.id()}}/accept">
        <button class="pure-button" type="submit">Accept</button>
    </form>
    <form class="pure-u-1-2" action="/order/{{ order.key.id() }}/offer/{{offer.key.id()}}/reject" method="post">
        <button class="pure-button" type="submit">Reject</button>
    </form>
</div>

{% endif %}
{% endif %}
{% endblock %}