{% extends "framework.html" %}

{% block title %}Add Order{% endblock %}

{% block content_body %}
<form class="pure-form pure-form-aligned" method="post">
    <fieldset>
        <div class="pure-control-group">
            <label for="name">Order Name</label>
            <input id="name" name="name" type="text" value="{{ order.name }}" placeholder="Order Name" required>
        </div>

        <div class="pure-control-group">
            <label for="description">Description</label>
            <input id="description" name="description" type="text" value="{{ order.description }}" placeholder="Description">
        </div>

        <div class="pure-control-group">
            <label for="products">Products</label>
                <a id="products" class="pure-button pure-button-primary" href="/order/{{ order.key.id() }}/product/add">Add</a>
        </div>

        <div class="pure-controls pure-g">
            {% for product in products %}
            {% endfor %}
        </div>

        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
    </fieldset>
</form>
{% endblock %}